.App {
    text-align: center;
  }
  
  .grid {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }
  
  .row {
    display: flex;
  }
  
  .cell {
    width: 30px;
    height: 30px;
    margin: 2px;
    cursor: pointer;
  }
  
  .cell.red {
    background-color: red;
  }
  
  .cell.green {
    background-color: green;
  }
  