/* styles.css */

.chart {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center; /* Alinear al centro horizontalmente */
  height: 300px;
  width: 100%;
  border: 1px solid #ccc;
  padding: 10px;
  margin: auto; /* Centrar el contenedor */
}


.bar {
  flex: 1;
  margin-right: 5%;
  background-color: rgb(23, 187, 23);
  transition: height 0.5s ease;
  /* Transición suave al cambiar la altura */
  position: relative;
}

.bar:last-child {
  margin-right: 0;
  /* Elimina el margen derecho del último elemento */
}

.label {
  position: absolute;
  bottom: -80px;
  left: 50%;
  transform: translateX(-50%);
  color: black;
}
