.App {
    text-align: center;
  }
  
  .grid {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }
  
  .row {
    display: flex;
  }
  
  .estiloHorario {
    margin-top: 10px;
    margin-right: 15px;
  }

  .diasSemana {
    display: flex;
    margin-bottom: -10px; 
    margin-left: 100px;
  }
  .cellDA {
    width: 40px;
    height: 40px;
    margin: 5px;
    cursor: pointer;
  }
  
  .cellDA.red {
    background-color: red;
  }
  
  .cellDA.green {
    background-color: green;
  }
  
  .circle {
    width: 40px;
    height: 40px;
    margin: 5px;
    margin-top: 30px;
    margin-left: 50px;

  }
  .availability {
    margin-top: 17px;
    margin-left: 50px;
  }
  
  .contenedorDND {
    display: flex;
    align-items: center;
  }
  
  .green {
    background-color: green;
  }
  
  .red {
    background-color: red;
  }